todo.txt
character.txt
dailytask.txt
storage_pref.txt
config.txt
time_format_pref.txt
daily_date.txt

mysql_config.json

todo.exe

build/
dist/
uploads/

todo_new.py
todo_backup.py
todo_updater.py
cleanup.py
update.zip
*.zip
generate_manifest.py